@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f7f8fa;
  color: #1f2937;
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(94, 155, 196, 0.4);
  border-radius: 999px;
}
